html {
  font-size: 10px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.keys {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.key {
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  border: 0.4rem solid white;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  transition: all 0.07s ease;
}

.key.playing {
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  transform: scale(1.1);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}
