@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

/*
  通用设置
*/
body {
  background-image: url("./pattern-leaves-white.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 20px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

/*
  头部，包含h1和按钮（添加卡片）
*/
#head {
  z-index: 2;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

#head button {
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 15px;
}

#head button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
/*
  按钮：清空所有卡片
*/
.clear {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.clear:hover {
  color: red;
  transform: scale(1.1);
  transition: transform 0.5s;
}
/*
  卡片区
*/
.cards {
  position: relative;
  height: 300px;
  width: 500px;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.5em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card.active {
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.right {
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.inner-card {
  -webkit-box-shadow: 2px 0px 105px -8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 0px 105px -8px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0px 105px -8px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 4px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  background-image: url("./pattern-confetti.jpg");
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.inner-card p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  word-break: break-all;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}

.inner-card-front::after,
.inner-card-back::after {
  content: "\f021  Flip";
  font-family: "Font Awesome 5 Free", Lato, sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
}

.navigation {
  display: flex;
  margin: 20px 0;
}

.navigation .nav-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.navigation p {
  margin: 0 25px;
}

.add-container {
  background-image: url("https://www.animal-crossing.com/new-horizons/assets/img/global/patterns/pattern-leaves-white.jpg");
  opacity: 0;
  z-index: -1;
  background-color: #f0f0f0;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 10;
}

.add-container h1 {
  margin: 10px 0;
}

.add-container h1 button {
  margin-left: 10px;
  font-size: 30px;
}

.add-container h1 button:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.form-group label {
  display: block;
  margin: 20px 0 10px;
}

.form-group textarea {
  border: 1px solid #aaa;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px;
  min-width: 500px;
  max-width: 100%;
}

#question {
  min-height: 50px;
  max-height: 300px;
}

#answer {
  min-height: 200px;
  max-height: 500px;
}

button > i {
  padding-right: 10px;
}
