:root {
  --bg-color: #dfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.content {
  background: var(--bg-color);
  height: 100vh;
  position: relative;
}

.content--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-size: 8vw;
  font-weight: 400;
  line-height: 0.9;
}

.content__scroll {
  position: absolute;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes scrollHint {
  0% {
    opacity: 0.4;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}

.i-scroll-down {
  width: 20px;
  height: 20px;
  margin-top: 20px;
  animation: scrollHint 1s infinite alternate;
}

.svg-4 path {
  fill: none;
  stroke: #000;
  stroke-width: 0.1;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}

.separator {
  display: block;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 150px;
  fill: var(--bg-color);
}

.section-2 {
  background-color: gray;
  height: 80vh;
  display: grid;

}

.section-2__title {
  font-size: 5vw;
}

.section-3 {
  position: relative;
  background: white;
  height: 100vh;
}

.section-3__title {
  font-size: 5vw;
  font-weight: 400;
  line-height: 0.9; 
  position: absolute;
  inset: 0;
  z-index: 1000;
}

.image-holder {
  position: absolute;
  z-index: 100;
  inset: 0;
  background: white;
  overflow: hidden;
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
}

.image-holder img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  transform: scale(2);
}

.text-and-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 80vw;
  font-size: 20px;
}

.sec-text,
.sec-image {
  max-width: 40%;
  flex-grow: 1;
}

.sec-image img {
  max-width: 100%;
  clip-path: circle(0% at 50% 50%);
}

.section-5 {
  background-color: red;
}