/*
  reset.css from https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {
  --bg-color: rgb(235, 215, 215);
}

body {
  position: relative;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.content {
  background: var(--bg-color);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.content__title-main {
  font-size: 10vw;
}

.content--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-size: 8vw;
  font-weight: 400;
  line-height: 0.9;
}

.content__scroll {
  position: absolute;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-scroll-down {
  width: 20px;
  height: 20px;
  margin-top: 20px;
}

.svg-4 path {
  fill: none;
  stroke: #000;
  stroke-width: 0.1;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}

.separator {
  display: block;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 150px;
  fill: var(--bg-color);
}

.section-2 {
  background-color: gray;
  height: 80vh;
  display: grid;

}

.section-2__title {
  text-align: center;
  font-size: 15vw;
}

.section-3 {
  position: relative;
  background: white;
  height: 100vh;
}

.section-3__title {
  font-size: 5vw;
  font-weight: 400;
  line-height: 0.9;
  position: absolute;
  inset: 0;
  z-index: 1000;
}

.image-holder {
  position: absolute;
  z-index: 100;
  inset: 0;
  background: #0b0f0e;
  overflow: hidden;
  clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
  display: grid;
  place-items: center;
  transform: rotate(45deg);
}

.image-holder img {
  max-width: 80vmin;
  object-fit: cover;
  transform: scale(.9);
  filter: blur(10px);
}

/* imgs gallary */
.section-9 {
  background-color: #5f4659;
}

.section-10 {
  background-color: #45464b;
}

.section-11 {
  background-color: #6b1329;
}

.imgs-container {
  position: relative;
  overflow-x: hidden;
  overscroll-behavior: none;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.last-section {
  height: 84px;
  background-color: #6b1329;
}

.content-img {
  width: 100%;
  flex-shrink: 0;
}

.image-wrapper {
  max-width: 64vmin;
  overflow: hidden;
}

.text-and-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  font-size: 20px;
}

.sec-text,
.sec-image {
  width: 43.2%;
}

.sec-image {
  -webkit-box-shadow: 17px 9px 40px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 9px 40px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 9px 40px 6px rgba(0, 0, 0, 0.75);
}

.sec-image img {
  max-width: 100%;
  clip-path: circle(0% at 50% 50%);
}

.section-5 {
  background-color: #5d3659;
  color: white;
}

.section-6 {
  background-color: #62181e;
  color: white;
}

.section-7 {
  background-color: #78b8df;
  font-size: 5vw;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-7__img,
.section-7__text {
  flex: 1;
}

.section-8 {
  background-color: #5fb5a0;
}

.separator--solo {
  position: relative;
  height: auto;
  width: calc(100% + 5px);
  margin-left: -2.5px;
}

.separator--line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.separator--line-light {
  fill: none;
  stroke: #62181e;
  stroke-width: 1px;
}

.footer {
  opacity: 0;
  position: fixed;
  z-index: 100000;
  inset: 0;
  top: auto;
  padding: 30px;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content__link {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  margin-left: 5px;
}