$font-family: "Inter", "Lexend Deca", sans-serif;
$body-font-size: 15px;
$color-main-background: hsl(233, 47%, 7%);
$color-card-background: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);
$color-overlay: hsla(277, 64%, 61%, 0.45);
$color-main-heading: hsl(0, 0%, 100%);
$color-main-paragraph: hsla(0, 0%, 100%, 0.75);
$color-stat-heading: hsla(0, 0%, 100%, 0.6);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	color: white;
	background-color: $color-main-background;
	font-family: $font-family;
	font-size: $body-font-size;
	box-sizing: inherit;
}

main {
	background-color: $color-card-background;
}

.card {
	border-radius: 0.667rem;
	padding-bottom: 0.667rem;
	margin: 5.8rem 1.6rem;
}

.image-wrapper {
	border-radius: 0.667rem 0.667rem 0 0;
	position: relative;
	background-color: khaki;
	img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 0.667rem 0.667rem 0 0;
	}
	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $color-overlay;
		border-radius: 0.667rem 0.667rem 0 0;
	}
}

.info {
	text-align: center;
	margin-top: 3rem;
	h1 {
		font-size: 1.667rem;
		line-height: 1.25;
		color: $color-main-heading;
	}
	.info-title-wrapper {
		width: 85%;
		margin: 0 auto;
		.info-title {
			strong {
				color: $color-accent;
			}
		}
	}
	.info-des-stat-wrapper {
		width: 80%;
		margin: 0 auto;
		margin-top: 2rem;
		p {
			font-size: $body-font-size;
			line-height: 1.5;
			color: $color-main-paragraph;
		}
	}
}

.stat {
	margin-top: 3.333rem;
	div {
		margin-bottom: 2.4rem;
	}
	p {
		text-transform: uppercase;
		color: $color-stat-heading;
	}
}

.attribution {
	margin: -2.667rem 0 2rem 0;
	text-align: center;
	a {
		color: $color-main-heading;
	}
}

.heart {
	color: red;
}

@media screen and(min-width: 1440px) {
	.card {
		width: 80%;
		margin: 11.66rem auto;
		display: flex;
		padding-bottom: 0;
		.image-wrapper {
			flex: 50%;
			order: 2;
			border-radius: 0 0.667rem 0.667rem 0;
			img {
				border-radius: 0 0.667rem 0.667rem 0;
			}
			.overlay {
				border-radius: 0 0.667rem 0.667rem 0;
			}
		}
		.info {
			text-align: left;
			flex: 50%;
			order: 1;
			margin-top: 5.33rem;
			width: 51%;
			.info-title-wrapper {
				width: 75%;
				.info-title {
					font-size: 2.333rem;
				}
			}
			.info-des-stat-wrapper {
				width: 65%;
				margin: 0 4.667rem;
				.info-description {
					margin-top: 2.667rem;
				}
				.stat {
					display: flex;
					justify-content: space-between;
					margin-top: 5.333rem;
				}
			}
		}
	}
}
