/*
  reset.css from https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {
  --bg-color: #fafafa;
  --text-color: #666666;
  --header-height: 64px;
  font-size: 16px;
}

body {
  position: relative;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.header_wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  margin: auto;
}

.header__noBorder {
  box-shadow: none;
}

.header_nav_first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav_first > div:first-of-type {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-context-menu-button_button {
  display: flex;
  padding: 4px;
  margin: -4px;
  border-radius: 6px;
}

.header_nav_second {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  width: 100%;
  background-color: transparent;
  margin-left: 32px;
}

.navigation-menu_tabsHighlight {
  position: absolute;
  width: 50px;
  height: 30px;
  background: #ebebeb;
  left: 0;
  top: 0;
  opacity: 0;
  border-radius: 9999px;
  transition: .25s ease;
  transition-property: width,transform,opacity;
}

.navigation-menu_list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu_list > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu_trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-color);
}

.navigation-menu_trigger svg {
  width: 14px;
  height: 14px;
  transition: rotate .2s ease;
}

.navigation-menu_trigger[data-state=open] svg {
  rotate: 180deg;
}

.navigation-menu_grid {
  width: 586px;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.navigation-menu_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
}

.navigation-menu_links:not(:last-of-type) {
  border-bottom: 1px solid #ebebeb;
}

.navigation-menu_heading {
  grid-column: span 2;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 0;
}

.navigation-menu_menuSubLink {
  display: flex;
  align-items: center;
  gap: 12px;
  outline: none;
  text-decoration: none;
  user-select: none;
  border-radius: 6px;
  font-size: 14px;
  color: #666666;
  padding: 12px;
}

.navigation-menu_menuSubLinkContent {
  display: flex;
  flex-direction: column;
}

.navigation-menu_menuItemHeading {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-bottom: 3px;
  white-space: nowrap;
  color: #171717;
  line-height: 1.25em;
}
.navigation-menu_menuItemText {
  margin: 0;
  font-size: calc(var(--text-size));
  font-weight: calc(var(--text-weight));
  line-height: calc(var(--text-line-height));

}

.navigation-menu_link {
  color: var(--text-color);
  display: block;
  text-decoration: none;
}

.navigation-menu_content {
  position: absolute!important;
  top: 0;
  left: 0;
  opacity: 0;
  animation-duration: .25s;
  animation-timing-function: ease;
}

.navigation-menu_link, .navigation-menu_trigger {
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 9999px;
  background: transparent;
  border: 0;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.navigation-menu_link:hover, .navigation-menu_trigger:hover {
  color: #171717;
}

.navigation-menu_viewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 85%;
  left: 0;
  perspective: 2000px;
}

.navigation-menu_viewport {
  position: relative;
  transform-origin: top center;
  margin-top: 24px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.02) 0px 1px 1px 0px, rgba(0, 0, 0, 0.04) 0px 4px 8px -4px, rgba(0, 0, 0, 0.06) 0px 16px 24px -8px;
  border-radius: 12px;
  overflow: hidden;
  width: 586px;
  height: 307px;
  transition: width,height,.25s ease;
}

.navigation-menu_viewport[data-state=open] {
  background: red;
  animation: navigation-menu_scaleIn .2s ease;
}

@keyframes navigation-menu_scaleIn {
  0% {
    opacity: 0;
    transform: rotateX(-30deg) scale(.9);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

.footer {
  position: fixed;
  z-index: 100000;
  inset: 0;
  top: auto;
  padding: 30px;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content__link {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
  margin-left: 5px;
}