body {
  background-color: #ffa981;
  margin: 0;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*移动到页面中心*/
}

.clock-face {
  display: flex; /*三个指针位于div中心区域*/
  justify-content: center;
  align-items: center;
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at center,
    #ec7277,
    #ec7277 60%,
    #e1ecde calc(60% + 1px),
    #e1ecde 63%,
    #079554 calc(63% + 1px)
  );
}

.clock-face:after {
  content: "";
  display: block;
  width: 3.5vmin;
  height: 3.5vmin;
  border-radius: 50%;
  background-color: #f8ccce;
  position: absolute;
}

.hand {
  position: absolute;
  bottom: 50%;
  border-radius: 1vmin;
  transform-origin: 50% 100%; /*调整旋转中心*/
  /* transform: rotate(0); */
}

.second-hand {
  height: 50%;
  width: 1%; /*调整width和left，中心正好在50%*/
  left: 49.5%;
  bottom: 40%;
  transform-origin: 50% 80%; /*秒针的旋转中心稍微不同*/
  background-color: #f8ccce;
}

.min-hand {
  height: 40%;
  width: 2.4%;
  left: 48.8%;
  background-color: #a0161b;
}

.hour-hand {
  height: 27%;
  width: 2.4%;
  left: 48.8%;
  background-color: #6f0f13;
}
