@import url("./normalize.css");
// ---------- variables ----------
$font-family: "Barlow", "Fraunces", sans-serif, serif;
$font-size: 18px;

// Primary
// Soft red: hsl(7, 99%, 70%)
// Yellow: hsl(51, 100%, 49%)
// Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// Dark blue (photography text): hsl(198, 62%, 26%)
// Dark moderate cyan (footer): hsl(168, 34%, 41%)

$color-primary-softred: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-graphic-text: hsl(167, 40%, 24%);
$color-primary-photography-text: hsl(198, 62%, 26%);
$color-primary-footer: hsl(168, 34%, 41%);

// Neutral

// Very dark desaturated blue: hsl(212, 27%, 19%)
// Very dark grayish blue: hsl(213, 9%, 39%)
// Dark grayish blue: hsl(232, 10%, 55%)
// Grayish blue: hsl(210, 4%, 67%)
// White: hsl(0, 0%, 100%)

$color-des-blue: hsl(212, 27%, 19%);
$color-very-dark-gray-blue: hsl(213, 9%, 39%);
$color-dark-gray-blue: hsl(232, 10%, 55%);
$color-gray-blue: hsl(210, 4%, 67%);
$color-entry-title: hsl(0, 0%, 100%);

// ----------------------------------------
:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family;
	font-size: $font-size;
}
// height 538px
.entry {
	background: center / cover no-repeat url("../images/mobile/image-header.jpg");
	text-align: center;
	.header-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 35px 24px;
		.header-menu > ul {
			display: none;
		}
	}

	.entry-title-wrapper {
		margin-top: 50px;
		line-height: 1.35;
		.entry-title {
			letter-spacing: 10px;
			margin: 0;
			font-family: "Fraunces";
			font-weight: 900;
			text-transform: uppercase;
			color: $color-entry-title;
		}
	}

	.arrow-down-wrapper {
		padding: 48px 0 130px;
	}
}

.grids {
	text-align: center;
	.grids-item {
		img {
			display: block;
			width: 100%;
		}
		.grids-item-title {
			font-family: "Fraunces";
			color: $color-des-blue;
		}
		.grids-item-content {
		}
	}
}
