@import url("./normalize.css");
// ---------- variables ----------
$font-family: "Barlow", "Fraunces", sans-serif, serif;
$font-size: 18px;

// Primary
// Soft red: hsl(7, 99%, 70%)
// Yellow: hsl(51, 100%, 49%)
// Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// Dark blue (photography text): hsl(198, 62%, 26%)
// Dark moderate cyan (footer): hsl(168, 34%, 41%)

$color-primary-softred: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-graphic-text: hsl(167, 40%, 24%);
$color-primary-photography-text: hsl(198, 62%, 26%);
$color-primary-footer: hsl(168, 34%, 41%);

// Neutral

// Very dark desaturated blue: hsl(212, 27%, 19%)
// Very dark grayish blue: hsl(213, 9%, 39%)
// Dark grayish blue: hsl(232, 10%, 55%)
// Grayish blue: hsl(210, 4%, 67%)
// White: hsl(0, 0%, 100%)

$color-des-blue: hsl(212, 27%, 19%);
$color-very-dark-gray-blue: hsl(213, 9%, 39%);
$color-dark-gray-blue: hsl(232, 10%, 55%);
$color-gray-blue: hsl(210, 4%, 67%);
$color-entry-title: hsl(0, 0%, 100%);

@mixin under-learn-more($tag, $color) {
	#{$tag}::after {
		text-align: center;
		display: block;
		content: "";
		width: 148px;
		height: 10px;
		background-color: $color;
		position: absolute;
		bottom: -3px;
		left: -10px;
		z-index: -1;
		border-radius: 15%;
	}
}

// ----------------------------------------
:root {
	box-sizing: border-box;
	font-size: $font-size;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-family;
}
// height 538px
.entry {
	background: center / cover no-repeat url("../images/mobile/image-header.jpg");
	text-align: center;
	.header-wrapper {
		display: flex;
		justify-content: space-between;
		padding: 35px 24px;
		.header-menu > ul {
			display: none;
		}
	}

	.entry-title-wrapper {
		margin-top: 50px;
		line-height: 1.35;
		.entry-title {
			letter-spacing: 10px;
			margin: 0;
			font-family: "Fraunces";
			font-weight: 900;
			text-transform: uppercase;
			color: $color-entry-title;
		}
	}

	.arrow-down-wrapper {
		padding: 48px 0 130px;
	}
}

.grids {
	text-align: center;
	.grids-item {
		img {
			display: block;
			width: 100%;
		}
		.grids-item-title {
			margin: 0;
			font-family: "Fraunces";
			font-weight: 900;
			font-size: 1.778rem;
			line-height: 1.233;
			color: $color-des-blue;
		}
		.grids-item-content {
			color: $color-dark-gray-blue;
			margin-top: 30px;
			line-height: 1.667;
		}
		.grids-item-link-wrapper {
			margin-top: 1.778rem;
			.grids-item-link {
				color: $color-des-blue;
				text-transform: uppercase;
				font-family: "Fraunces";
				font-size: 0.8rem;
				position: relative;
				text-decoration: none;
				letter-spacing: 3px;
			}
			@include under-learn-more(".first-learn-more", $color-primary-yellow);
			@include under-learn-more(".second-learn-more", $color-primary-softred);
		}
	}
	.intro {
		padding: 64px 24px;
	}

	.graphic-design-container {
		color: $color-primary-graphic-text;
		padding: 60px 20px;
		background: center top / cover no-repeat
			url("../images/mobile/image-graphic-design.jpg");
		.graphic-design-title-wrapper {
			margin-top: 340px;
			.graphic-design-title {
				font-family: "Fraunces";
				font-size: 1.4rem;
				font-weight: 900;
			}
		}
		.graphic-design-content-wrapper {
			line-height: 1.667;
			font-size: 0.889rem;
			margin-top: 1.778rem;
		}
	}

	.photo-graphy-container {
		color: $color-primary-photography-text;
		padding: 60px 20px;
		background: center top / cover no-repeat
			url("../images/mobile/image-photography.jpg");
		.photo-graphy-title-wrapper {
			margin-top: 340px;
			.photo-graphy-title {
				font-family: "Fraunces";
				font-size: 1.4rem;
				font-weight: 900;
			}
		}
		.photo-graphy-content-wrapper {
			line-height: 1.667;
			font-size: 0.889rem;
			margin-top: 1.778rem;
		}
	}
}

.clients {
	text-align: center;
	padding: 54px 24px 78px;
	.clients-header {
		font-family: "Fraunces";
		font-size: 0.444rem;
		color: $color-gray-blue;
		text-transform: uppercase;
		letter-spacing: 5px;
	}
	.client {
		.client-avatar {
			width: 4rem;
			border-radius: 50%;
			margin-top: 54px;
		}

		.client-words {
			margin-top: 30px;
			color: $color-dark-gray-blue;
			line-height: 1.75;
		}

		.client-name {
			margin-top: 36px;
			font-family: "Fraunces";
			color: $color-des-blue;
			font-weight: 900;
		}

		.client-job {
			padding: 14px 0;
			color: hsl(210, 4%, 67%);
			font-size: 0.8rem;
		}
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	.gallery-item {
		img {
			display: block;
			width: 100%;
		}
	}
}

.footer {
	padding: 2.5rem 2rem;
	text-align: center;
	background: bottom center url("../images/mobile/image-graphic-design.jpg");
	.footer-logo {
		margin-top: 1rem;
		img {
			width: 170px;
		}
	}
	.page-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2.35rem;
		a {
			color: $color-primary-footer;
			text-decoration: none;
		}
	}
	.social-medias {
		width: 80%;
		margin: 5rem auto 1.75rem;
		display: flex;
		justify-content: space-evenly;
	}
}

.attribution {
	padding: 1rem;
	background-color: hsl(168, 31%, 79%);
}
